- var index = 0
section.col-xs-12.col-sm-9
  input.read-more-state#read-more(type="checkbox")
  .read-more-wrap
    each post in public._data
      if (post.type === "post" || post.type === "redirect") && post.published === true
        - var show_more = (index++) > 30 ? {class: 'read-more-target'} : {}
        article&attributes(show_more)
          h2.h3
            a(href="/#{post.slug}" rel="me") #{post.title}
          span.text-muted Publicação: <time datetime="#{created_at}" pubdate>#{post.created_at}</time> #{post.redirected_to ? '| Via: ' + post.redirected_to : ''}<br>
          span #{post.description}
  p.text-center
    label.btn.btn-lg.btn-primary.read-more-trigger(for="read-more") Ver todos os posts
!= partial("_shared/side_menu")
