article.col-xs-12.col-sm-9(class="#{type}" id="#{slug}")
  if type === "post"
    h1 #{title}
    - var tagLinks = tags.map(function(tag) {
    -   return '<a href="/menu/#'+ tag.toLowerCase().replace(/\s/g, '-') +'" rel="me" title="Menu: '+ tag +'">'+ tag + '</a>';
    - });
    p.text-muted Publicação: <time datetime="#{created_at}" pubdate><b>#{created_at}</b></time> | Tags: !{tagLinks.toString().replace(',', ', ')}
  != yield
  if type === "post"
    != partial("disqus")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "#{title}",
        "image": "#{root_url[environment]}images/#{feature_image || main_image}",
        "publisher": "#{blog_name}",
        "url": "#{root_url[environment] + slug}",
        "datePublished": "#{created_at.replace(/([\d]{2})\/([\d]{2})\/([\d]{4})/, '$3-$2-$1')}",
        "dateCreated": "#{created_at.replace(/([\d]{2})\/([\d]{2})\/([\d]{4})/, '$3-$2-$1')}",
        "description": "#{description}",
        "author": {
          "@type": "Person",
          "name": "#{author}"
        }
      }
