article.col-xs-12.col-sm-9(class="#{type}" id="#{slug}")
  h1 #{title}
  if type === "post"
    p Publicação: <strong><time datetime="#{created_at}" pubdate>#{created_at}</time></strong> | Tags: <strong>#{tags.toString().replace(',', ', ')}</strong>
  != yield
  != partial("disqus")
