ul
  each bonus in bonus_data
    li
      a(href="#{bonus.url}" rel="nofollow" data-tooltipr="#{bonus.description}" target="#{bonus.internal ? '_self' : '_blank'}" title="#{bonus.description}") <i class="fa #{bonus.icon}"></i>&nbsp;#{bonus.title}
