ul
  each bonus in bonus_data
    li
      i.fa.fa-info-circle.tooltipr(style="margin-right:5px;" data-tt-type="attr" data-title="#{bonus.description}")
      a(href="#{bonus.url}" rel="nofollow" target="_blank" title="#{bonus.description}") <i class="fa #{bonus.icon}"></i>&nbsp;#{bonus.title}
