- var page_title = (title || blog_description) + ' | ' + blog_name
- var meta_page_title = title || blog_name
- var page_url = root_url[environment] + (slug || (current.path == 'index' ? '' : current.path))
- var bar_color = '#BA2D27'
- var meta_description = description || blog_description
- var page_image = feature_image || main_image
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
meta(charset="utf-8")
title #{page_title}
meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="#{bar_color}")
meta(name="apple-mobile-web-app-title" content="#{app_name}")
meta(name="msapplication-TileImage" content="#{root_url[environment]}images/#{main_image}")
meta(name="msapplication-TileColor" content="#{bar_color}")
meta(name="msapplication-tap-highlight" content="no")
meta(name="mobile-web-app-capable" content="yes")
meta(name="application-name" content="#{app_name}")
meta(name="theme-color" content="#{bar_color}")
meta(name="title" content="#{meta_page_title}")
meta(name="author" content="#{author}")
meta(name="description" content="#{meta_description}")
meta(property="og:title" content="#{meta_page_title}")
meta(property="og:description" content="#{meta_description}")
meta(property="og:url" content="#{page_url}")
meta(property="og:site_name" content="#{blog_name}")
meta(property="og:image" content="#{root_url[environment]}images/#{page_image}")
meta(property="og:type" content="website")
meta(name="twitter:creator" content="#{twitter}")
meta(name="twitter:card" content="summary")
meta(name="twitter:url" content="#{page_url}")
meta(name="twitter:title" content="#{meta_page_title}")
meta(name="twitter:site" content="#{blog_name}")
meta(name="twitter:description" content="#{meta_description}")
meta(name="twitter:image" content="#{root_url[environment]}images/#{page_image}")
meta(name="verification" content="4e3a2788eb41a92633b618bb0dd55c64")
link(rel="manifest" href="/manifest.json")
link(rel="stylesheet" href="/assets/css/main.css" type="text/css")
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
link(rel="canonical" href="#{page_url}")
