- var page_title = title + ' | ' + blog_name
- var page_url = root_url[environment] + current.path
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
meta(charset="utf-8")
title #{page_title}
meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="#FEFEFE")
meta(name="apple-mobile-web-app-title" content="#{app_name}")
meta(name="mobile-web-app-capable" content="yes")
meta(name="application-name" content="#{app_name}")
meta(name="theme-color" content="#FEFEFE")
meta(name="author" content="#{author}")
meta(name="description" content="#{description}")
meta(property="og:title" content="#{blog_name}")
meta(property="og:description" content="#{description}")
meta(property="og:url" content="#{page_url}")
meta(property="og:site_name" content="#{blog_name}")
meta(property="og:image" content="#{root_url[environment]}images/#{main_image}")
meta(property="og:type" content="website")
meta(property="article:author" content="#{google_plus}")
meta(property="article:section" content="main")
meta(name="twitter:creator" content="#{twitter}")
meta(name="twitter:card" content="summary")
meta(name="twitter:url" content="#{page_url}")
meta(name="twitter:title" content="#{blog_name}")
meta(name="twitter:description" content="#{description}")
meta(name="twitter:image" content="#{root_url[environment]}images/#{main_image}")
link(rel="manifest" href="#{root_url[environment]}manifest.json")
link(rel="stylesheet" href="#{root_url[environment]}css/main.css" type="text/css")
link(rel="shortcut icon" href="#{root_url[environment]}favicon.ico" type="image/x-icon")
link(rel="canonical" href="#{page_url}")
!= "<!--[if lt IE 8]>"
  script(src="#{root_url[environment]}js/html5shiv.min.js")
  script(src="#{root_url[environment]}js/aight.min.js")
  script(src="#{root_url[environment]}js/respond.min.js")
!= "<![endif]-->"
