aside.col-xs-12.col-sm-3
  .sidemenu.animated(data-sticky-sidemenu)
    section.hidden-xs
      h2.h3.text-center <i class="fa fa-book"></i>&nbsp;Livros
      != partial("book_gallery")
    hr
    section
      h2.h3.text-center <i class="fa fa-paper-plane-o"></i>&nbsp;UDGWebDev Weekly
      p.text-center Receba news sobre JS, Node.js e Meteor.
      p.text-center
        a.btn.btn-success.btn-lg(href="https://weekly.udgwebdev.com" target="_blank" title="Assinar newsletter UDGWebDev Weekly" rel="noopener") Assinar newsletter
    hr
    section
      h2.h3.text-center <i class="fa fa-gift"></i>&nbsp;Bônus
      != partial("bonus")
    hr
    section.hidden-sticky
      h2.h3.text-center <i class="fa fa-bars"></i>&nbsp;Menu
      ul
        each tag in public.menu._data.index.tags
          - var tagPath = tag.title.toLowerCase().replace(/\s/g, '-').replace(/\./g, '');
          - var menuPath = featured_tags.includes(tagPath) ? '/' : '/menu/#';
          li <a href="#{menuPath}#{tagPath}" rel="me" title="#{tag.title}"><i class="fa fa-folder-open"></i>&nbsp;#{tag.title} (#{tag.total})</a>
    hr
    section.hidden-sticky
      h2.h3.text-center <i class="fa fa-users"></i>&nbsp;Conheça também
      != partial("friend_links")
